.lineBreak{
    white-space: pre-wrap;
}

.h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.code{
    background-color: rgb(42, 36, 82);
    padding-bottom: 1.2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.code-text{
    font-size: 0.8rem;
}

.ul{
    list-style: circle !important;
}

.a{
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1rem;
}