.scrollbar{
    overflow-y: scroll;
    max-height: 1095px;
}

.scrollbar::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #363533;
}

.scrollbar::-webkit-scrollbar
{
	width: 7px;
	background-color: #363533;
    padding-right: 0;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4e4d4b;
    display: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover
{
	display: initial;
}

@media(max-width: 414px){
	.scrollbar{
		overflow-y: unset;
	}
}